body {
  background-color: #3b3b3b
}

header {
  padding: 15px;
  background-color: #3b3b3b
}

a:visited{
  color:white;
}
a:link{
  color:white;
}
a:hover{
  color:orange;
}

header .row {
  display: flex;
  align-items: center;
}

header nav {
  display: flex;
  justify-content: flex-end;
  color: white;
}

header h1 {
  font-weight: 700;
  margin: 0;
  text-align: right;
  color: white;
  max-width: 400px
}

.mypicture {
    max-width: 150px;
  max-height:50px;
 }
.mypicture img {
    width: 100%;
}

header p {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://i.imgur.com/gxlEZjL.jpg');
  background-size: cover;
  color: #ffffff;
  height: 150px;
}

.resumebody {
  color: black;
  max-height: 400px
}

h3{
  text-align: right;
  color:#000000;
}

h3 span{
  background-color: #f1efef;
}

.educationcontact {
  height: 200px;
}

.col-sm-2 {
  height: 400px;
}

.col-sm-3 {
  height: 400px;
}

.col-sm-6 {
  height: 400px;
}

.education {
  text-align: right;
}

.educationdetail {
  text-align: left;
  background-color: #D3D3D3;
  margin-top: 19px;
  padding: 5px;
}

.col-sm-2 {
  height: auto;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}
