body {
  background-color: #3b3b3b
}

header {
  padding: 15px;
  background-color: #3b3b3b
}

a:visited{
  color:white;
}
a:link{
  color:white;
}
a:hover{
  color:orange;
}

header .row {
  display: flex;
  align-items: center;
}

header nav {
  display: flex;
  justify-content: flex-end;
  color: white;
}

header h1 {
  font-weight: 700;
  margin: 0;
  text-align: right;
  color: white;
  max-width: 400px
}

.mypicture {
    max-width: 150px;
  max-height:50px;
 }
.mypicture img {
    width: 100%;
}

header p {
  padding: 0 20px;
  margin: 0;
}

.container {
  text-align: center;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://i.imgur.com/gxlEZjL.jpg');
  background-size: cover;
  color: #ffffff;
  height: 150px;
}

.resumebody {
  color: black;
  
}

.resumebody2 {
  color: black;
  padding: 20px;

}

h3{
  text-align: right;
  color:#000000;
}

p {
  margin: 0 0 10px;
}

h3 span{
  color: white;
  -webkit-text-stroke-color: black
}

.col-sm-2.educationdetail {
  height: 150px;
}

.col-sm-2 {
  height: 150px;
}

.col-sm-2.last {
  height: 150px;
}

.col-sm-3 {
  height: 300px;
}

.col-sm-6 {
  height: 300px;
}

.education {
  text-align: right;
  height: 150px;
  margin: 0px;
}

.prof {
  text-align: left;
  margin: 30px;
  padding: 20px;
  margin-bottom: 0px;
}

.profdetails {
  margin-left: 50px;
  background-color: #a09f9f;
  padding-left: 5px;
}

.educationdetail {
  background-color: #a09f9f;
  padding: 3px;
  height: 150 px;
}

.educationdetail h4 {
  margin: 0px;
  margin-bottom: 10px;
}

.contact {
  text-align: right;
  height: 150px;
}

.contactdetail {
  background-color: #a09f9f;
  margin-top: 19px;
  padding: 5px;
  height: 150px;
}

.col-sm-2 {
  height: auto;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}
